<nav id="navbar" [ngClass]="{'scrolled': isScrolled}">
  <a href="#home" class="logo">
    <img src="../../../assets/images/Menbo/menbo002.png" alt="Menbo Technologies" class="logo-img">
  </a>
  <ul class="nav-links">
    <li><a href="#services">Services</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#technologies">Tech Stack</a></li>
    <li><a href="#team">Team</a></li>
    <li><a href="#contact" class="btn-nav">Contact Us</a></li>
  </ul>
  <button class="hamburger" [ngClass]="{'open': isHamburgerOpen}" (click)="toggleHamburger()" id="hamburger">
    <span></span><span></span><span></span>
  </button>
</nav>

<div class="mobile-menu" [ngClass]="{'open': isHamburgerOpen}" id="mobileMenu">
  <a href="#services" class="mm-link" (click)="closeMobileMenu()">Services</a>
  <a href="#about" class="mm-link" (click)="closeMobileMenu()">About</a>
  <a href="#technologies" class="mm-link" (click)="closeMobileMenu()">Tech Stack</a>
  <a href="#team" class="mm-link" (click)="closeMobileMenu()">Team</a>
  <a href="#contact" class="mm-link" (click)="closeMobileMenu()">Contact Us</a>
</div>
