/* You can add global styles to this file, and also import other style files */

@import '../node_modules/ngx-toastr/toastr.css';

@media (min-width: 1400px) {

    /* .container-menu,
    .container-menu-lg,
    .container-menu-md,
    .container-menu-sm,
    .container-menu-xl,
    .container-menu-xxl {
        max-width: 1300px !important;
    } */
}

.container-menu {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1315px !important;
    }
}